.app-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    position: absolute;
    top: 0;

    z-index: 2;

    transition: background-color .3ms;
}

.app-navbar.nav-open {
    min-height: 100%;
}

.navbar-inner-cont {
    max-width: 1100px;
    width: 80%;
    pointer-events: auto;
}

.nav-prev-cont {
    background-color: var(--bg-default);
    border: 2px solid var(--border-dark);
    border-top: 0;
    padding: 1rem .8rem;
    gap: 1rem;

    border-radius: 0 0 5px 5px;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    align-items: center;
}

.nav-channel-prev {
    font-size: 1.1rem;
    width: 100%;
    white-space: nowrap;
}

.active-channel-prev {
    width: 100%;
    padding: .4rem .8rem;
    color: var(--primary-light);
    background-color: var(--primary-dark);

    border-radius: 4px;
    cursor: pointer;
}

.nav-author-prev {
    display: flex;
    justify-content: center;

    font-size: 1.5rem;
    padding-left: 1.2rem;
}

.nav-author-prev .author-icon {
    margin-left: -1.2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--bg-dark);
}

.nav-author-prev .author-icon:nth-child(n) {
    z-index: calc(100 - var(--i));
}

.nav-author-prev .prev-single-author {
    display: flex;
    align-items: center;
}

.nav-total-prev {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-total-prev p {
    color: #878787;
    white-space: nowrap;
}

.close-navbar {
    display: none;
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;

    color: var(--bg-dark);
    background-color: var(--error);
    border-radius: 5px;
    transition: 100ms;

    cursor: pointer;
}

.app-navbar.nav-open .close-navbar {
    opacity: 1;
}

.app-navbar:not(.nav-open) .close-navbar {
    background-color: var(--primary);
}

/* FILTER STYLES */

.nav-filters-cont {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    pointer-events: auto;
    overflow-y: auto;
    max-height: calc(100vh - 78px);
}

.nav-filters-channels {
    display: flex;
    width: 100%;
    background-color: var(--bg-default);
    border: 2px solid var(--border-dark);

    border-radius: 5px;
    border: 0;
    padding: 1rem;

    flex-direction: column;
}

.filter-label {
    width: 100%;
    color: var(--text-dark);
    padding-left: 1.5rem;
    margin-bottom: .4rem;
    grid-area: header;
}

.filter-channel {
    display: block;

    background-color: transparent;
    text-align: left;

    font-size: 1.2rem;
    padding: .5rem;

    color: var(--text-gray);
    cursor: pointer;

    white-space: nowrap;
    text-overflow: ellipsis;

    width: fit-content;
    overflow: hidden;
}

.filter-channel:hover {
    color: var(--text-light);
}

.filter-channel.active {
    color: var(--primary);
}

.filter-channels-cont {
    grid-area: channels;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-areas:
        "header"
        "channels";
}

.nav-filters-authors {
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: var(--bg-default);

    margin-top: 1rem;
    padding: 1rem;
}

.filter-author-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 2rem;
}

.filter-author {
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.filter-author:disabled {
    color: inherit;
    opacity: .2;
}

.filter-author:not(:disabled) {
    cursor: pointer;
}

.filter-author.active .author-icon {
    border: 2px solid var(--primary);
}

.filter-author:not(:disabled):hover {
    background-color: var(--bg-light);
    border-radius: 50px 12px 12px 50px;
}

.filter-author p {
    text-align: left;
}

.filter-author .author-icon {
    height: 3rem;
    width: 3rem;
}

.filter-author-text {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.filter-author-name {
    font-size: 1.2em;
    color: var(--text-light);
}

.filter-author-clips {
    font-size: .8em;
    color: var(--text-gray);
}

@media (min-width: 1280px) {
    .hide-close-button {
        display: none;
    }
}

/* Styles for small laptops and tablets in landscape mode */
@media (max-width: 1280px) {
    .app-navbar.nav-open {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .close-navbar {
        display: block;
    }
}

/* Styles for tablets in portrait orientation */
@media (max-width: 1023px) {
    .nav-prev-cont {
        grid-template-columns: 1fr 1fr auto auto;
    }
}

/* Styles for tablets in portrait orientation */
@media (max-width: 1023px) and (min-width: 768px) {}

/* Styles for large smartphones */
@media (max-width: 767px) {
    .navbar-inner-cont {
        width: 100%;
    }

    .nav-prev-cont {
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-template-areas:
            "title close"
            "icons icons";

        border-bottom: 1px solid black;
        border-radius: 0;
    }

    .nav-channel-prev {
        grid-area: title;
    }

    .nav-author-prev {
        grid-area: icons;
        width: 100%;
        justify-content: flex-start;
    }

    .close-navbar {
        grid-area: close;
    }

    .nav-total-prev {
        display: none;
    }

    .nav-filters-cont {
        pointer-events: auto;
        overflow-y: auto;
        max-height: calc(100vh - 129px);
    }

    .nav-filters-authors,
    .nav-filters-channels {
        border: 0;
        border-radius: 0;
    }
}

/* Styles for small smartphones */
@media (max-width: 479px) {
    .filter-author-cont {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem .3rem;
    }

    .filter-author .author-icon {
        height: 2rem;
        width: 2rem;
        aspect-ratio: 1/1;
    }

    .filter-author-text {
        font-size: .9rem;
    }
}


.open-close-svgs {
    position: relative;
    height: 100%;
    width: 100%;
}