.nav-container {
    width: 100%;
    height: min-content;

    position: fixed;
    top: 20px;
    left: 0;

    z-index: 2;

    padding: 0 2rem;

    /* display: flex;
    justify-content: center; */

    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;

    gap: 1rem;
}

.nav-element {
    background-color: var(--bg-dark);

    border-radius: 16px;
    padding: 8px;

    display: flex;
    align-items: center;

    gap: 8px;

    color: var(--text-gray);
    width: min-content;
}

.nav-piece {
    border-radius: 8px;
    background-color: var(--bg-default);

    display: flex;
    align-items: center;

    height: 60px;
    padding: 2px;

    cursor: pointer;
}

.nav-button {
    aspect-ratio: 1/1;
    justify-content: center;
    padding: 8px;
}

.nav-button svg {
    transition: color 200ms;
    height: 2.2rem;
}

.nav-usermenu:hover .nav-piece.nav-button svg {
    color: #F4A867;
}

/* ********* */
/* USER MENU */
/* ********* */
.nav-usermenu {
    position: relative;
    /* margin-right: auto; */
}

.nav-usermenu.menu-visible {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.nav-piece.user-piece {
    padding: 5px;
    padding-left: 10px;
    gap: 10px;
}

.nav-user-dtls {
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.nav-lia {
    font-size: .7rem;
    color: var(--text-dark);
}

.nav-liu {
    line-height: 1.6rem;
    font-size: 1.5rem;

    display: block;
    flex-grow: 1;
}

.nav-user-icon-cont {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;

    padding: -10px;
}

.nav-user-icon-dummy {
    background-color: rebeccapurple;
    border-radius: 100px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.num-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: var(--bg-dark);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.num-dropdown ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    padding: 8px;
}

.num-item {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.2rem;

    width: 100%;
    border-radius: 5px;

    cursor: pointer;
}

.num-item:last-child {
    color: #c46a62;
}

.num-item:last-child:hover {
    color: var(--error);
}

.num-item:hover {
    background-color: var(--bg-default);
    color: var(--text-light);
}

/* ********* */
/* MAIN MENU */
/* ********* */
.nav-mainmenu {
    /* position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 8px)); */
    /* margin: auto; */
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-icon-text {
    padding: 10px 12px;
    gap: 12px;
    font-size: 1.3rem;

    min-width: 220px;
}

.nav-icon-text svg,
.nav-icon-text p {
    transition: 200ms;
}

.nav-icon-text svg {
    font-size: 1.6rem;
}

#channel-nav-cont svg {
    color: var(--channel-text);
}

#author-nav-cont svg {
    color: var(--author-text);
}

.nav-piece:hover#channel-nav-cont svg {
    color: var(--channel-icon);
}

.nav-piece:hover#channel-nav-cont p {
    color: var(--channel-text);
}

.nav-piece:hover#author-nav-cont svg {
    color: var(--author-icon);
}

.nav-piece:hover#author-nav-cont p {
    color: var(--author-text);
}

.nav-button svg {
    fill: none !important;
}

.nav-mm-subnav-cont {
    position: absolute;
    top: 100%;
    padding: 20px;
}