:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-light: #FEFEFE;
    --text-gray: #C2C2C2;
    --text-dark: #aaa;

    --bg-light: #333;
    --bg-default: #212121;
    --bg-dark: #1f1f1f;

    --border-dark: #1c1c1c;

    --author-default: #9b59b6;
    --error: #e74c3c;
    --primary: #5bda66;
    --primary-light: #bad6bd;
    --primary-dark: #1b2921;
    --primary-25: rgba(46, 204, 113, 0.25);

    --dark-overlay: rgba(25, 25, 25, 0.8);

    background-color: var(--bg-default);
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
}

html {
    max-width: 100vw;
}

body {
    display: flex;
    justify-self: center;
    width: 100%;
    min-height: 100vh;
}