.player-selector {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.player-selector .player {
    display: flex;
    align-items: center;

    border-radius: 100px;
    padding-right: 1rem;
    cursor: pointer;

    background-color: #333;
    border: 2px solid #212121;
    box-shadow: 0;

    transition: 300ms;
}

.player-selector .player:hover {
    border-color: #a3e6a3;
    color: #a3e6a3;
}

.player-selector .player.active {
    border-color: #a3e6a3;
    color: #a3e6a3;
    box-shadow: 0px 0px 10px 5px rgba(144, 238, 144, 0.7);
}