.video-card {
    border-radius: 12px 12px 0 0;
    text-align: left;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-basis: calc(20% - 2rem);
    min-width: 200px;
    max-width: 500px;
    margin: 0.5rem;
    font-size: 1rem;
}

.video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #000;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Scale image to cover the entire container */
}

.video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.video-placeholder p {
    color: #fff;
    font-size: 1rem;
}

.video-subtext {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0 1rem;
    position: relative;
}

.author-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.author-text {
    color: #aaa;
    margin: 0;
}

.date {
    color: #777;
    margin-left: auto;
}

.video-subtext p:last-child {
    text-align: right;
}